UI/Schemas/ComponentBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:Guify.Namespace" xmlns="urn:Guify.Namespace" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType abstract="true" name="componentBase">
        <xs:attribute name="description" type="xs:string" use="required"/>
        <xs:attribute name="required" type="xs:boolean" use="optional"></xs:attribute>
        <xs:attribute name="longName" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="shortName" type="xs:string" use="optional"></xs:attribute>
    </xs:complexType>
</xs:schema>