UI/Schemas/ComponentBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:Guify.Namespace" xmlns="urn:Guify.Namespace" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType abstract="true" name="ComponentBase">
        <xs:attribute name="Description" type="xs:string" use="required"/>
        <xs:attribute name="Default" type="xs:string" use="optional"/>
        <xs:attribute name="Required" type="xs:boolean" use="optional"></xs:attribute>
        <xs:attribute name="LongName" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="ShortName" type="xs:string" use="optional"></xs:attribute>
    </xs:complexType>
</xs:schema>