UI/Schemas/RadioButton.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:Guify.Namespace" 
           xmlns="urn:Guify.Namespace" 
           elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RadioButton">
    <xs:complexType>
        <xs:attribute name="Comment" type="xs:string" />
        <xs:attribute name="Default" type="xs:boolean"  />
    </xs:complexType>
  </xs:element>
</xs:schema>