UI/Schemas/Verb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:Guify" xmlns="urn:Guify" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="./Container.xsd" />
    <xs:element name="verb">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="container">
                    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
                    <xs:attribute name="description" type="xs:string" use="optional"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>